.Order{
    color: #ffffff;
    background-color: #1c315c;
    padding: 100px 0;
}

.order-logo-text{
    font-size: 30px;
    text-align: center;
}

.imput-order{
    margin-top: 50px;
    width: 20%;
    height: 30px;
    border-radius:10px ;
}

.btn{
    margin-top: 50px;
    width: 20%;
    height: 30px;
    border-radius:10px ;
    background-color: #ffffff;
    border: solid 2px #000000;
    transition: .2s;
}

.btn:hover{
    margin-top: 50px;
    width: 20%;
    height: 30px;
    border-radius:10px ;
    color: #ffffff;
    background-color: #000000;
    border: solid 2px #ffffff;
}